@media (max-width: 1100px) {
  .services {
    &-item {
      gap: 35px;

      .item {
        &-image img {
          height: fit-content;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .services {
    &-item {
      .item {
        &-image {
          max-width: 340px;
        }

        &-text {
          font-size: 19px;
          margin-bottom: 20px;
          line-height: unset;
        }

        &-title {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    &-item {
      grid-template-columns: 1fr;

      .item {
        &-image {
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .services {
    &-items {
      margin-bottom: 30px;
    }

    .title {
      font-size: 30px;

      .title-shadow {
        top: -11px;
        font-size: 40px;
      }
    }

    &-item {
      .item {
        &-title {
          margin-bottom: 20px;
        }

        &-text {
          margin-bottom: 25px;
        }
      }
    }
  }
}
