.link {
  display: flex;
  align-items: baseline;
  font-size: 22px;
  gap: 15px;
  color: #2f94cd;
  transition: 250ms;

  img {
    width: 20px;
  }

  &:hover {
    gap: 25px;
    transition: 250ms;
  }
}
