.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr max-content;
  align-items: center;
  gap: 75px;

  &-links {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    gap: 50px;
  }

  &-link {
    font-size: 20px;
    color: #368ccd;
  }

  &-logo {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 15px;

    .logo {
      &-img {
        display: block;
        width: 56px;
      }

      &-text {
        font-weight: 400;
        color: #368ccd;
        display: grid;
        grid-template-columns: max-content;

        span {
          font-size: 20px;
          height: 24px;
        }
      }
    }
  }

  &-icon {
    position: absolute;
    right: 20px;

    .navbar-icon__menu {
      display: none;
    }

    .navbar-icon__close {
      display: none;
    }
  }
}

@media (max-width: 1280px) {
  .navbar {
    gap: 40px;

    &-links {
      gap: 30px;
    }

    &-link {
      font-size: 17px;
    }
  }
}

@media (max-width: 1040px) {
  .navbar-icon .navbar-icon__menu {
    display: block;
  }

  .navbar.navbar--active .btn {
    display: block;
  }

  .navbar {
    &-links {
      display: none;
      grid-template-columns: 1fr;
      text-align: center;
      position: absolute;
      width: 100%;
      left: 0;
      top: 78px;
      background-color: #cee5f4;
      padding: 25px 15px 120px;
      z-index: 1;
      border-top: 1px solid #7ab4e1;
    }

    .btn {
      display: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 395px;
      z-index: 1;
    }

    &--active {
      .navbar {
        &-links {
          display: grid;
        }
        &-icon__menu {
          display: none;
        }
        &-icon__close {
          display: block;
        }
      }
    }
  }
}
