.footer {
  background-color: #cee5f4;
  padding: 35px 0;

  .navbar {
    margin-bottom: 35px;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-text {
    font-size: 18px;
    color: #368ccd;
  }
}
