.footer {
  background-color: #cee5f4;
  padding: 35px 0;

  .navbar {
    margin-bottom: 35px;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-text,
  &-link {
    font-size: 18px;
    color: #368ccd;
  }

  &-link {
    position: relative;

    &:before {
      content: '';
      width: 0px;
      height: 2px;
      position: absolute;
      background-color: #368ccd;
      bottom: 0;
      left: 0;
      transition: 350ms;
    }

    &:hover:before {
      width: 100%;
      transition: 350ms;
    }
  }
}
